.section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 60%;
            margin: auto;
            background-color: aquamarine;
}